{{template "header.tpl"}}
	<title>Homepage-My Blog</title>
</head>
<body>
{{template "navbar.tpl" .}}

<div class="container">
<div class="col-md-9">
{{range .topics}}
	<div class="page-header">
		<h1><a href="/topic/view/{{.Id}}">{{.Title}}</a></h1>
		<small class="text-muted">Published at {{dateformat .Created "2006-01-02 15:04:05"}} and Updated at {{dateformat .Updated "2006-01-02 15:04:05"}},{{.Views}} browsed and {{.ReplyCount}} coments totally</small>
		<p class="h4">	
			{{.ShortForContent}}
		</p>
	</div>
{{end}}
</div>
<div class="col-md-2">
</div>
<div class="col-md-1">
<div class="page-header">
	<h2>Categories</h2>
	{{range .categories}}
	<p class="h4">
	{{if eq .TopicCount 0}}
		{{.Title}}	
	{{else}}
		<a href="/?category={{.Title}}">{{.Title}}</a>
	{{end}}
	</p>
	{{end}}
	<p class = "h4">
		<a href="/">ShowAllTopics</a>
	</p>
</div>
</div>
</div>
</body>
{{template "footer.tpl"}}
</html>